.chat-main
  .chat-main__group-info
    .header
      .header__group-name
        = @group.name
      .header__member-names
        Member:
        - @group.users.each do |user|
          = user.name
    .edit-btn
      =link_to edit_group_path(@group.id) do
        Edit

  .chat-main__message-list
    = render @messages
     
  .chat-main__message-form
    .send-message-form
      .send-message
        = form_for [@group, @message] do |f|
          = f.label :image, class: "form-box" do
            = f.text_field :content, autofocus: true, placeholder: "type a message", class: 'form-message'
            %i.far.fa-image.fa-2x
            = f.file_field :image, class: "form-image"
          = f.submit "Send", class: "send-btn"
