.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icon
        .top-items__icon__new-group
          = link_to new_group_path do
            %i.fas.fa-edit
        .top-items__icon__edit
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog

  .side-bar__groups
    - current_user.groups.each do |group|
      .groups-group
        = link_to group_messages_path(group) do
          .group__group-name
            = group.name
          .group__group-message
            = group.show_last_message